body {
  @include fluid-text(18, 12);

  font-family: var(--font-family-base), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  color: var(--color-text-dark);
  background-color: var(--color-light);
}

a,
button,
svg * {
  transition-durationd: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fluid-text(36, 12);
}

.active-pointer_header {
  font-weight: bold;
}