.schedule-container {
  overflow: auto;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-day {
    padding: 0 4rem;
    height: auto;
    border-radius: 800px 800px 0 0;
    background: radial-gradient(61.00% 61.00% at 50% 50%,rgb(136, 209, 109) 14.534%,rgb(89, 198, 48) 87.476%);
    box-shadow: 5px 15px 20px 0 rgba(89, 198, 48, 0.67);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }

  &-lessons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

    &__card {
      max-width: 10rem;
      min-width: 10rem;
      height: auto;
      margin: 5px;

      &-day {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &-name {
        font-size: 14px;
      }

      &-time {
        font-size: 14px;
      }

      &-button__img {
        transition: transform 0.3s ease;
        margin: 0 auto;
        cursor: pointer;
      }

      &-description {
        display: none;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease, display 0.3s ease;
      }
    }
  }
}

.math {
  background-color: var(--color-background-math);
}

.physics {
  background-color: var(--color-background-physics);
}

.chemistry {
  background-color: var(--color-background-chemistry);
}

.literature {
  background-color: var(--color-background-literature);
}

.history {
  background-color: var(--color-background-history);
}

.geography {
  background-color: var(--color-background-geography);
}

.biology {
  background-color: var(--color-background-biology);
}

.ukrainian-language {
  background-color: var(--color-background-ukrainian-language);
}

.foreign-language {
  background-color: var(--color-background-foreign-language);
}

.math, .physics, .chemistry, .literature, .history, .geography, .ukrainian-language, .biology, .foreign-language {
  border-radius: 30px;
  padding: 10px;
}