.section__gallery {

  &-list {
    display: flex;
    gap: 1rem;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-image {
    padding-top: 1rem;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;

    &-button {
      padding: 10px 20px;
      background-color: #ff6600;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background-color: #ff4500;
      }
    }
  }
}