@charset "UTF-8";
/**
  Нормалізація блочної моделі
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Нормалізація скролбару
 */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/**
  Прибираємо внутрішні відступи зліва тегам списків,
  у яких є атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираємо зовнішні відступи body і двом іншим тегам,
  у яких є атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Забираємо зовнішні відступи вертикалі потрібним тегам,
  у яких є атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Прибираємо стандартний маркер маркованого списку,
  у якого є атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляємо вертикальні зовнішні відступи параграфа,
  оголошуємо локальну змінну для зовнішнього відступу вниз,
  щоб уникнути взаємодію з більш складним селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Зовнішній відступ до параграфа без атрибута class,
  який розташований не останнім серед своїх сусідніх елементів
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Спрощуємо роботу із зображеннями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наслідуємо властивості шрифту для полів введення
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Стане в нагоді в більшості ситуацій
    (Коли, наприклад, потрібно буде "притиснути" футер до низу сайту)
   */
  height: 100%;
}

/**
  Плавний скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Стане в нагоді в більшості ситуацій
    (Коли, наприклад, потрібно буде "притиснути" футер до низу сайту)
   */
  min-height: 100%;
  line-height: 1.5;
}

/**
  Наводимо до єдиного кольору svg-елементи
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг затримки зміни кольору при взаємодії з svg-елементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Видаляємо всі анімації та переходи для людей,
  які вважають за краще їх не використовувати
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bell MT";
  src: url("../../fonts/BellMT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bell MT";
  src: url("../../fonts/BellMTBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-background-main: #F6EFE6;
  --color-light: #FFFFFF;
  --color-text-dark: #371A5C;
  --color-text-dark-orange: #D53C13;
  --color-text-light: #59C630;
  --color-gradient-orange: radial-gradient(
                  84.06% 65.07% at 50% 50%,
                  rgb(251, 150, 56) 5.61%,
                  rgb(251, 155, 52) 41.441%,
                  rgba(245, 185, 26, 0.68) 100%);
  --color-gradient-purple: radial-gradient(
                  50.00% 50.00% at 50% 50%,
                  rgb(194, 137, 248),
                  rgb(152, 74, 247) 0.037%,
                  rgb(143, 62, 246) 100%);
  --color-gradient-green: radial-gradient(
                circle,
                rgb(136, 209, 109),
                rgb(89, 198, 48));
  --color-background-math: #4A90E2;
  --color-background-physics: #50E3C2;
  --color-background-chemistry: #9B59B6;
  --color-background-literature: #F39C12;
  --color-background-history: #E74C3C;
  --color-background-geography: #1ABC9C;
  --color-background-computer-science: #BDC3C7;
  --color-background-music: #FF6347;
  --color-background-foreign-language: #F1C40F;
  --shadow-orange: -10px 31px 20px -2px rgba(252, 168, 78, 0.2);
  --shadow-purple: 0px 8px 35px 0px rgb(161, 90, 248);
  --shadow-purple-main: -43px 61px 20px 0px rgba(161, 90, 248, 0.47);
  --shadow-green: 5px 15px 20px 0px rgba(89, 198, 48, 0.67);
  --shadow-black: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --border-radius-main: 200px;
  --border-radius: 100px;
  --border-radius-small: 20px;
  --border-radius-medium: 60px;
  --border-radius-lagre: 0, 100px, 0, 100px;
  --border-radius-left: 800px 800px 0 800px;
  --border-radius-right: 800px 800px 800px 0;
  --border-radius-bottom: 0 800px 800px 800px;
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1666px;
  --container-padding-x: 15px;
  --section-padding-y: 60px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 1102px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (min-width: 1102px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-size: clamp(12px, 0.9574468085vw, 18px);
  font-family: var(--font-family-base), sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  color: var(--color-text-dark);
  background-color: var(--color-light);
}

a,
button,
svg * {
  transition-durationd: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(12px, 1.914893617vw, 36px);
}

.active-pointer_header {
  font-weight: bold;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-text-light);
    border-radius: var(--border-radius-small);
    opacity: 0.7;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-text-light);
    border-radius: var(--border-radius-small);
    opacity: 0.7;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--color-text-dark);
  box-shadow: 0 -8px var(--color-text-dark), 0 8px var(--color-text-dark);
}
@media (max-width: 767px) {
  .burger-button {
    margin-bottom: 20px;
  }
}

.header {
  max-width: calc(100% - 2 * ((100vw - 780px) / (1920 - 780) * 111 + 16px));
  margin: 0 auto;
  padding: 0 calc((100vw - 780px) / (1920 - 780) * 111 + 16px);
  box-sizing: border-box;
  padding-top: 46px;
  box-shadow: var(--shadow-black);
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 1;
}
@media (max-width: 1846px) {
  .header {
    padding-top: 36px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 44px;
}
@media (max-width: 1846px) {
  .header__inner {
    column-gap: 15px;
  }
}
.header__logo {
  width: 286px;
  height: 80px;
  margin-bottom: 20px;
}
@media (max-width: 1846px) {
  .header__logo {
    max-width: 186px;
    height: 50px;
  }
}
@media (max-width: 1102px) {
  .header__logo {
    max-width: 120px;
    height: 40px;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 220px;
    margin-bottom: 50px;
  }
}
.header__menu {
  font-size: 18px;
}
@media (max-width: 1846px) {
  .header__menu {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1102px) {
  .header__menu {
    font-size: 10px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
@media (max-width: 1846px) {
  .header__menu-list {
    column-gap: 15px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 28px;
  gap: 5px;
}
@media (max-width: 1846px) {
  .header__menu-link {
    gap: 3px;
  }
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: 0.2s;
}
.header__menu-link-img {
  margin-top: 1px;
  width: 20px;
  height: 20px;
}
@media (max-width: 1102px) {
  .header__menu-link-img {
    max-width: 10px;
  }
}
.header__phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1102px) {
  .header__phone-number {
    margin-bottom: 5px;
  }
}
.header__phone-number-icon {
  width: 105px;
  height: 74px;
  margin-bottom: 20px;
}
@media (max-width: 1846px) {
  .header__phone-number-icon {
    max-width: 70px;
    height: 40px;
  }
}
@media (max-width: 1102px) {
  .header__phone-number-icon {
    max-width: 40px;
    margin-bottom: 0;
  }
}
.header__phone-number__text {
  font-size: 24px;
}
@media (max-width: 1846px) {
  .header__phone-number__text {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
@media (max-width: 1102px) {
  .header__phone-number__text {
    font-size: 12px;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-text-light);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-text-light);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2%;
  background-color: var(--color-text-dark);
  border-radius: var(--border-radius-small);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 60px 3px;
  border: 0;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__body {
  line-height: 7vh;
}
.mobile-overlay__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.mobile-overlay__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.mobile-overlay .cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .mobile-overlay .cross-button:hover {
    background-color: var(--color-text-light);
  }
}
@media (hover: none) {
  .mobile-overlay .cross-button:active {
    background-color: var(--color-text-light);
  }
}
.mobile-overlay .cross-button::before, .mobile-overlay .cross-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2%;
  background-color: var(--color-text-dark);
  border-radius: var(--border-radius-small);
}
.mobile-overlay .cross-button::before {
  rotate: 45deg;
}
.mobile-overlay .cross-button::after {
  rotate: -45deg;
}

.content {
  max-width: calc(100% - 2 * ((100vw - 780px) / (1920 - 780) * 111 + 16px));
  margin: 0 auto;
  padding: 0 calc((100vw - 780px) / (1920 - 780) * 111 + 16px);
  box-sizing: border-box;
  background-color: var(--color-background-main);
  border-radius: var(--border-radius);
  padding-block: var(--section-padding-y);
  width: var(--section-width);
  margin-top: 30px;
}
@media (max-width: 767px) {
  .content {
    margin: 20px 20px;
  }
}

.section {
  margin-top: 70px;
}
@media (max-width: 1846px) {
  .section {
    margin-top: 30px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.hero__body {
  display: flex;
  flex-direction: column;
  max-width: 531px;
}
@media (max-width: 767px) {
  .hero__body {
    padding: var(--section-padding-x);
    max-width: 100%;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__shape-orange {
  border-radius: var(--border-radius-left);
  background: var(--color-gradient-orange);
  box-shadow: var(--shadow-orange);
  width: 300px;
  height: 233px;
  position: absolute;
  top: 0;
  right: 500px;
}
@media (max-width: 1846px) {
  .hero__shape-orange {
    width: 220px;
    height: 150px;
    right: 300px;
  }
}
.hero__shape-green-right {
  border-radius: var(--border-radius-right);
  background: var(--color-gradient-green);
  box-shadow: var(--shadow-green);
  width: 200px;
  height: 170px;
  position: absolute;
  top: 325px;
  right: 40px;
}
@media (max-width: 1846px) {
  .hero__shape-green-right {
    width: 120px;
    height: 90px;
    right: 20px;
    top: 300px;
  }
}
.hero__shape-green-left {
  border-radius: var(--border-radius-left);
  background: var(--color-gradient-green);
  box-shadow: var(--shadow-green);
  width: 162px;
  height: 131px;
  position: absolute;
  top: 569px;
  left: 34px;
}
@media (max-width: 1846px) {
  .hero__shape-green-left {
    width: 90px;
    height: 80px;
    left: 24px;
  }
}
.hero__message {
  margin-left: -100px;
  width: 216px;
  height: 83px;
}
@media (max-width: 1846px) {
  .hero__message {
    margin-bottom: 40px;
    margin-left: -40px;
    width: 158px;
    height: 43px;
  }
}
@media (max-width: 1102px) {
  .hero__message {
    margin-left: -10px;
  }
}
.hero__title, .hero__description {
  font-size: clamp(16px, 1.5957446809vw, 30px);
  width: 729px;
  line-height: 1.5;
}
@media (max-width: 1846px) {
  .hero__title, .hero__description {
    min-width: 250px;
    margin-left: 30px;
  }
}
@media (max-width: 1102px) {
  .hero__title, .hero__description {
    min-width: 200px;
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .hero__title, .hero__description {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    width: auto;
  }
}
.hero__title-orange-text, .hero__description-orange-text {
  color: var(--color-text-dark-orange);
}
.hero__container-image {
  position: relative;
}
@media (max-width: 1421px) {
  .hero__container-image {
    width: 10rem;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .hero__container-image {
    order: 1;
  }
}
.hero__image {
  right: 150px;
  max-width: 1000px;
  max-height: 715px;
}
@media (max-width: 1846px) {
  .hero__image {
    margin-right: 70px;
    margin-top: 75px;
    max-width: 650px;
    max-height: 450px;
  }
}
@media (max-width: 1421px) {
  .hero__image {
    position: relative;
    right: 250px;
    width: 520px;
    height: 420px;
  }
}
@media (max-width: 1102px) {
  .hero__image {
    right: 350px;
  }
}
@media (max-width: 767px) {
  .hero__image {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin-top: 200px;
    max-width: 650px;
    height: auto;
  }
}
.hero__static {
  padding-top: 70px;
  margin-bottom: 124px;
}
@media (max-width: 767px) {
  .hero__static {
    padding-top: 0;
  }
}
.hero__static-container {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-black);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.hero__static-number {
  font-size: clamp(18px, 2.0212765957vw, 38px);
  font-weight: bold;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .hero__static-number {
    text-align: center;
    font-size: 30px;
  }
}
.hero__static-list {
  list-style: none;
  padding: 40px 0;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1421px) {
  .hero__static-list {
    gap: 20px;
  }
}
@media (max-width: 1102px) {
  .hero__static-list {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .hero__static-list {
    display: grid;
    grid-template-columns: 1fr minmax(20px, auto) 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.hero__static-item {
  font-size: clamp(16px, 1.7021276596vw, 32px);
  color: var(--color-text-dark);
}
@media (max-width: 767px) {
  .hero__static-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero__static-item-line {
  padding: 0;
  width: 3px;
  height: 50px;
  background-color: var(--color-text-dark);
  margin: 0;
}
@media (max-width: 767px) {
  .hero__static-item-line {
    grid-auto-columns: min-content;
  }
}

.section__header {
  font-size: 2.4rem;
  padding-bottom: 4rem;
  position: relative;
}
@media (max-width: 1421px) {
  .section__header {
    text-align: center;
  }
}
@media (max-width: 1102px) {
  .section__header {
    padding-bottom: 2rem;
  }
}
.section__header-color {
  color: var(--color-text-light);
}
.section__header-description {
  font-size: 1.2rem;
  width: 45.6rem;
  padding-bottom: 4rem;
}
@media (max-width: 1421px) {
  .section__header-description {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .section__header-description {
    font-size: 1rem;
    width: 30rem;
    padding-bottom: 1rem;
  }
}
.section__header-some-text {
  position: absolute;
  left: 4rem;
  font-size: 1.2rem;
  min-width: 45.6rem;
  z-index: 1;
}
@media (max-width: 1421px) {
  .section__header-some-text {
    left: 6rem;
  }
}
@media (max-width: 767px) {
  .section__header-some-text {
    display: none;
  }
}
.section__header__shape-purple {
  background: var(--color-gradient-purple);
  border-radius: var(--border-radius-left);
  box-shadow: var(--shadow-purple);
  position: absolute;
  right: 13rem;
  top: 4rem;
  width: 106px;
  height: 86px;
}
@media (max-width: 1421px) {
  .section__header__shape-purple {
    left: -7rem;
    top: 2rem;
  }
}
@media (max-width: 767px) {
  .section__header__shape-purple {
    left: -2rem;
    top: -2rem;
    z-index: 0;
  }
}
.section__header__shape-orange {
  background: var(--color-gradient-orange);
  border-radius: var(--border-radius-right);
  box-shadow: var(--shadow-orange);
  position: absolute;
  right: -7rem;
  top: 14rem;
  width: 355px;
  height: 288px;
}
@media (max-width: 767px) {
  .section__header__shape-orange {
    display: none;
  }
}
.section__body-container {
  position: relative;
}
@media (max-width: 1421px) {
  .section__body-container {
    width: 10rem;
  }
}
.section__body-container-video {
  display: flex;
  justify-content: center;
}
@media (max-width: 1421px) {
  .section__body-container-video {
    display: block;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .section__body-container-video {
    position: relative;
    left: 50%;
  }
}
.section__body-container-video__video {
  justify-content: center;
  border-radius: 5%;
  max-width: 33.8rem;
  max-height: 19.4rem;
}
@media (max-width: 1102px) {
  .section__body-container-video__video {
    width: 25.8rem;
    height: 14.8rem;
  }
}
.section__body-images {
  position: absolute;
  left: 10rem;
}
@media (max-width: 1421px) {
  .section__body-images {
    rotate: 55deg;
    top: 3rem;
    left: 2rem;
    width: 220px;
    height: 120px;
  }
}
.section__body__shape-green {
  background: var(--color-gradient-green);
  border-radius: var(--border-radius-bottom);
  box-shadow: var(--shadow-green);
  position: absolute;
  right: 0;
  top: 17rem;
  width: 162px;
  height: 131px;
}
@media (max-width: 1102px) {
  .section__body__shape-green {
    display: none;
  }
}

.schedule-container {
  overflow: auto;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.schedule-container-day {
  padding: 0 4rem;
  height: auto;
  border-radius: 800px 800px 0 0;
  background: radial-gradient(61% 61% at 50% 50%, rgb(136, 209, 109) 14.534%, rgb(89, 198, 48) 87.476%);
  box-shadow: 5px 15px 20px 0 rgba(89, 198, 48, 0.67);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.schedule-container-lessons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}
.schedule-container-lessons__card {
  max-width: 10rem;
  min-width: 10rem;
  height: auto;
  margin: 5px;
}
.schedule-container-lessons__card-day {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.schedule-container-lessons__card-name {
  font-size: 14px;
}
.schedule-container-lessons__card-time {
  font-size: 14px;
}
.schedule-container-lessons__card-button__img {
  transition: transform 0.3s ease;
  margin: 0 auto;
  cursor: pointer;
}
.schedule-container-lessons__card-description {
  display: none;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease, display 0.3s ease;
}

.math {
  background-color: var(--color-background-math);
}

.physics {
  background-color: var(--color-background-physics);
}

.chemistry {
  background-color: var(--color-background-chemistry);
}

.literature {
  background-color: var(--color-background-literature);
}

.history {
  background-color: var(--color-background-history);
}

.geography {
  background-color: var(--color-background-geography);
}

.music {
  background-color: var(--color-background-music);
}

.foreign-language {
  background-color: var(--color-background-foreign-language);
}

.math, .physics, .chemistry, .literature, .history, .geography, .computer-science, .music, .foreign-language {
  border-radius: 30px;
  padding: 10px;
}

.section__advantages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1102px) {
  .section__advantages-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.right {
  float: right;
}
@media (max-width: 1102px) {
  .right {
    float: none;
  }
}

.section_teacher-item-img {
  max-width: 30rem;
  margin: 0 auto;
}
@media (max-width: 1421px) {
  .section_teacher-item-img {
    max-width: 25rem;
  }
}
.section_teacher-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
@media (max-width: 1102px) {
  .section_teacher-container {
    flex-direction: column-reverse;
  }
}
.section_teacher-slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  position: absolute;
}
.section_teacher-slide.active-teacher-slider {
  opacity: 1;
  visibility: visible;
  position: relative;
}
.section_teacher-item {
  max-width: 37rem;
  flex-shrink: 0;
}
.section_teacher-ribbon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin-bottom: 10rem;
  gap: 1.5rem;
}
.section_teacher-ribbon-item {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.section_teacher-ribbon-item.active-teacher-slider {
  opacity: 1;
}
.section_teacher-ribbon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.section_teacher-ribbon-text {
  font-size: 4rem;
}

.section_teacher-indicators {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media (max-width: 1102px) {
  .section_teacher-indicators {
    display: flex;
  }
}
.section_teacher-indicators .indicator {
  width: 1rem;
  height: 1rem;
  background: #ccc;
  border-radius: 50%;
  transition: background 0.3s;
}
.section_teacher-indicators .indicator.active-teacher-slider {
  background: #333;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.slide-arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.section_contact-text {
  padding-left: 30px;
}
@media (max-width: 1102px) {
  .section_contact-text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.section_contact-text-description-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.section_contact-text-sociable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  padding-top: 2rem;
}
@media (max-width: 1102px) {
  .section_contact-text-sociable {
    justify-content: center;
  }
}
.section_contact-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 1102px) {
  .section_contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.section_contact-map {
  border-radius: 50px;
  box-shadow: 0 22px 45px rgb(251, 155, 52);
  color: rgba(251, 155, 52, 0.4);
  overflow: hidden;
}
@media (max-width: 767px) {
  .section_contact-map {
    margin: 1rem;
    width: 80%;
  }
}
.section_contact-map-iframe {
  border-radius: 50px;
}

.section_advertisement-new {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 1102px) {
  .section_advertisement-new {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 1102px) {
  .section_advertisement-new-img {
    margin: 0 auto;
  }
}
.section_advertisement-new_text_name {
  text-align: center;
}
@media (max-width: 1421px) {
  .section_advertisement-new_text_description {
    font-size: 1rem;
  }
}

.advertisement__popup {
  margin: 0 auto;
  width: 50%;
  height: auto;
  border-radius: 100px;
  box-shadow: 0px 22px 45px 0px rgb(251, 155, 52);
  background: rgba(251, 155, 52, 0.27);
}

.advertisement__text--popup {
  padding: 5rem;
}

.advertisement {
  padding: 1.5rem 0;
}
@media (max-width: 1102px) {
  .advertisement {
    padding: 3rem 0;
  }
}

.section_advertisement-active {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section_advertisement-active_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}
@media (max-width: 1102px) {
  .section_advertisement-active_list {
    flex-direction: column;
    align-items: center;
  }
}
.section_advertisement-active_list-item-img {
  padding-bottom: 1rem;
}
.section_advertisement-active_list-item-img_image {
  max-width: 15rem;
  max-height: 15rem;
}
.section_advertisement-active_list-item-text {
  max-width: 15rem;
  text-align: center;
  margin-bottom: 5rem;
}
.section_advertisement-active_list-item-text-name {
  padding-bottom: 0.5rem;
}
@media (max-width: 1102px) {
  .section_advertisement-active_list-item-text-name {
    padding-bottom: 2rem;
  }
}

.section__gallery-list {
  display: flex;
  gap: 1rem;
}
@media (max-width: 1102px) {
  .section__gallery-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section__gallery-image {
  padding-top: 1rem;
}
.section__gallery-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}
.section__gallery-container-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.section__gallery-container-button:hover {
  background-color: #ff4500;
}

.section__values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__values-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .section__values-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
.section__values-list-item {
  border-radius: 80px;
  box-shadow: 0px 4px 35px 0px rgba(26, 26, 26, 0.38);
}
.section__values-list-item_text {
  padding: 1rem;
}
@media (max-width: 1102px) {
  .section__values-list-item_text {
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
